.home {
  .menu {
    padding: 0px 20px;
    border-right: 4px solid #f7b900;

    .menuSpan {
      a {
        text-decoration: none;
      }

      a::after {
        position: absolute;
        content: "";
        width: 0px;
        height: 0px;
        background-color: rgba(0, 0, 0, 0.568);
        border-radius: 50%;
        top: 50%;
        right: 6px;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease;
      }
    }

    .menuSpan.active a::after {
      width: 8px;
      height: 8px;
    }
  }

  .button-yellow {
    background-color: #ffff00;
    width: 250px;

    a {
      text-decoration: none;
    }
  }

  .button-amber {
    background-color: #f7b900;
    width: 250px;

    a {
      text-decoration: none;
    }
  }
}
