.login {
  /* color: #242424; */
  background-color: #feff17;
  width: 70%;
  /* height: 60%; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.content {
}

.form {
  background-color: #242424;
}

.img {
  width: 40%;
}

.form {
  border: 1px solid #fff;
  border-radius: 10px;
  width: 60%;
}
