.home {
  height: 100vh;

  .menu {
    background-color: #272822;
    padding: 5px 20px;
    border-right: 4px solid yellow;
  }

  .outlet {
    padding: 5px 20px;
  }

  .footer {
    background-color: #272822;
    position: fixed;
    bottom: 0;
    width: 100vw;
  }
}
