.home {
  height: 100vh;

  .menu {
    background-color: #272822;
    padding: 0px 20px;
    border-right: 4px solid yellow;

    .menuSpan {
      background-color: yellow;

      a {
        text-decoration: none;
      }

      a::after {
        position: absolute;
        content: "";
        width: 8px;
        height: 8px;
        background-color: black;
        right: -30px;
        border-radius: 50%;
      }
    }
  }

  .outlet {
    padding: 5px 20px;
  }

  .highlight {
    padding: 5px 20px;
    background-color: yellow;
    border-radius: 20px;
    height: 150px;

    .item {
      padding: 5px 20px;
    }
  }
}
