/* @import url("https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:200,300,regular,500,600,700,800,200italic,300italic,italic,500italic,600italic,700italic,800italic"); */
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic");

@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  line-height: 1.5;
  background-color: #ffffff33;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: cyan;
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 50s linear infinite;
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.outlet {
  cursor: pointer;
  padding: 5px 10px;
}

.login {
  color: #000;
  background-color: rgba(0, 0, 0, 0.568);
  width: 56%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.menu {
  background-color: black;

  .menuSpan {
    background-color: cyan;
    font-size: 14px;
    position: relative;
  }
}

.cards {
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  grid-area: 1.5rem;
  .card {
    position: relative;
    cursor: pointer;

    .card.img {
      width: 220px;
      height: 220px;
      object-fit: contain;
      object-position: center;
    }

    span {
      position: relative;
    }
  }

  .card:hover {
    span {
      /* border-bottom: 2px solid #1f1f1f; */
      border-bottom: 2px solid #f7b900;
    }
  }
}

.button-yellow > .yellow {
  background: yellow;
}

/* .nav.cards {
  border: 0.2px gray solid; */

.nav_card {
  border-right: 1px rgba(128, 128, 128, 0.479) solid;
  border-bottom: 1px rgba(128, 128, 128, 0.479) solid;
  border-top: 1px rgba(128, 128, 128, 0.479) solid;
}

.card-1 {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-left: 1px rgba(128, 128, 128, 0.479) solid;
}

.card-4 {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
